body {
  color: $gray-700;
}

.section-title {
  border-bottom: 4px solid $primary;
  font-size: 25px;

  @include media-breakpoint-up(sm) {
    display: inline-block;
    font-size: 30px;
  }

  @include media-breakpoint-up(md) {
    font-size: 35px;
  }
}