@import 'settings';
@import 'mixins/mixins';
@import 'bootstrap';
@import 'global';
@import 'typography';

@import 'components/hero';
@import 'components/navbar';
@import 'components/media-player';
@import 'components/media';
@import 'components/episode';

.glow {
  box-shadow: 0 0 5px 2px $primary,
    inset 0 0 5px 2px $primary;
  border-width: 2px;
}

.container-fluid {
  max-width: 1200px;
}

.page {
  padding-top: 70px;

  .has-media-bar & {
    padding-bottom: 45px;
  }
}

.episodes {
  box-shadow: inset 0px 6px 6px -6px $black;
}

.about {
  box-shadow: inset 0px 6px 6px -6px $dark, inset 0px -6px 6px -6px $dark;
}