@import 'settings';
@import 'mixins/mixins';
@import 'bootstrap';
@import 'global';
@import 'typography';

@import 'components/hero';
@import 'components/navbar';
@import 'components/media-player';
@import 'components/media';
@import 'components/episode';

.glow {
  box-shadow: 0 0 5px 2px $primary,
    inset 0 0 5px 2px $primary;
  border-width: 2px;
}

.container-fluid {
  max-width: 1200px;
}

.page {
  padding-top: 30px;
}

.episodes {
  box-shadow: inset 0px 6px 6px -6px $black;
}

.about {
  background: #454d54;
  box-shadow: inset 0px 6px 6px -6px $dark, inset 0px -6px 6px -6px $dark;
}

.contact {
  background: url(../src/bgdark.png);
}

.contextual-nav {
  text-decoration: none !important;
  cursor: pointer;

  > svg {
    margin-right: 4px;
    fill: $primary;
  }
}

#footer {
  background: $black;
}

.supported-by > a {
  display: inline-block;
}

.subscribe-list > a > img {
  max-width: 100%;
}

.share-list {
  margin-left: -10px;

  .SocialMediaShareButton {
    margin: 0 0 10px 10px;
    cursor: pointer;
  }
}

.modal-content {
  // border-radius: 0;
  background: $gray-700;
}

.modal-header {
  border-bottom: 4px solid $primary;
}
