@import 'settings';
@import 'mixins/mixins';
@import 'bootstrap';
@import 'global';
@import 'typography';

@import 'components/hero';
@import 'components/navbar';
@import 'components/media';
@import 'components/episode';

.glow {
  box-shadow: 0 0 5px 2px $primary,
    inset 0 0 5px 2px $primary;
  border-width: 2px;
}

.container-fluid {
  max-width: 1200px;
}