.episode {
  &__title {
    font-size: 22px;
    > a {
      color: $white;
      &:hover {
        text-decoration: none;
      }
    }
  }

  .play-pause {
    fill: $primary;
    line-height: 1;

    &:active,
    &:focus {
      fill: $white;
    }
  }

  &--full {
    .play-pause {
      fill: $white;
    }
  }

  .subscribe,
  .share {
    color: $white;
    cursor: pointer;

    > svg {
      width: 20px;
      height: 20px;
    }
  }

  .subscribe > svg {
    fill: $secondary;
  }

  .share > svg {
    fill: $primary;
  }
}

.episode-page {
  .col-sm {
    > img {
      max-width: 100%;
    }
  }
}