.episode {
  &__title {
    font-size: 22px;
  }  

  .play-pause {
    fill: $primary;
    line-height: 1;

    &:active,
    &:focus {
      fill: $white;
    }
  }

  &--full {
    .play-pause {
      fill: $white;
    }
  }

  .subscribe {
    color: $white;

    > svg {
      fill: $secondary;
      width: 20px;
      height: 20px;
    }
  }
}