.masthead {
  background: $black;
  
  &__content {
    padding-top: 56px;
    margin-top: -56px;
    height: 100vh;

    @media screen and (orientation: portrait) and (max-width: breakpoint-max(sm)) {
      height: auto;
      padding-top: 76px;
    }

    @include media-breakpoint-up(md) {
      height: auto;
    }
  }

  .logo,
  .artwork {
    max-width: 50%;
    max-height: 100%;
    
    @media screen and (orientation: portrait) and (max-width: breakpoint-max(sm)) {
      max-width: 100%;
    }

    @include media-breakpoint-up(lg) {
      max-width: 35%;
    }
  }
}