.masthead {
  background: $black;
  
  &__content {
    flex-direction: row;

    @media screen and (orientation: portrait) and (max-width: breakpoint-max(sm)) {
      flex-direction: column-reverse;
      padding-bottom: 20px;

      .logo {
        margin-bottom: 20px;
      }
    }
  }

  .has-media-bar & {
    padding-bottom: 45px;
  }
  
  .logo {
    background-image: url('/assets/logo.jpg');
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 200px;
    width: 100%;
  }

  .media {
    width: 100%;
  }
  
  .episode {
    &__title {
      font-size: 18px;

      @media screen and (max-width: breakpoint-max(sm)) and (orientation: portrait) {
        font-size: 26px;
        margin-bottom: 20px;
      }

      @include media-breakpoint-up(sm) {
        font-size: 24px;
      }
    }

    &__description {
      font-size: 14px;

      @media screen and (max-width: breakpoint-max(xs)) and (orientation: portrait) {
        font-size: 16px;
        margin-bottom: 30px;
      }

      @media screen and (max-width: breakpoint-max(sm)) and (orientation: portrait) {
        font-size: 18px;
        margin-bottom: 30px;
      }

      @include media-breakpoint-up(sm) {
        font-size: 18px;
      }
    }
  }
}