// Styles the jPlayer to look nice
// @import '~react-jplayer/dist/css/skins/sleek.css';
// // Styles Play/Pause/Mute etc when icons (<i />) are used for them
// @import '~react-jplayer/dist/css/controls/iconControls.css';

$mediabar-height: 45px;
$seekbar-height: 30px;
$seekbar-toggle-width: 20px;

// $range-color: $primary;
//
// @keyframes spin {
//   from {transform:rotate(0deg);}
//   to {transform:rotate(360deg);}
// }
//
.jp-jplayer {
  background: $black;
  height: $mediabar-height;
  display: flex;
  align-items: center;
  width: 100%;
}

.jp-gui {
  width: 100%;
}

.jp-controls {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.jp-play {
  border: none;
  background: none;
  outline: none;
  padding: 6px;
  display: flex;
  align-items: center;
  margin-right: 10px;
  margin-left: 5px;
  cursor: pointer;

  &:active {
    outline: none;
  }

  > svg {
    width: 20px;
    height: 20px;
    fill: $white;
  }
}

.jp-current-time {
  color: $white;
  margin-right: 10px;
}

.jp-duration {
  color: $white;
  margin-right: 10px;
}

.jp-progress {
  height: $seekbar-height;
  background: $gray-700;
  width: 100%;
  padding-right: $seekbar-toggle-width;
  margin-right: 10px;
}

.jp-buffer-bar {
  display: none;
}

.jp-play-bar {
  height: $seekbar-height;
  position: relative;

  &:after {
    content: '';
    position: absolute;
    top: -3px;
    right: -$seekbar-toggle-width;
    bottom: -3px;
    width: $seekbar-toggle-width;
    background: $primary;
  }
}

.jp-volume-container {
  display: none;
}
