$nav-link-color: $white;

@keyframes neon {
  from {
    text-shadow:
      0 0 10px #fff,
      0 0 20px #fff,
      0 0 30px #fff,
      0 0 40px $nav-link-color,
      0 0 70px $nav-link-color,
      0 0 80px $nav-link-color;
  }
  to {
    text-shadow:
      0 0 0px #fff,
      0 0 0px #fff,
      0 0 3px #fff,
      0 0 20px $nav-link-color,
      0 0 30px $nav-link-color,
      0 0 35px $nav-link-color;
  }
}

.navbar {
  background-color: $black;
  transition: all .2s;

  .navbar-brand {
    &__logo {
      width: 50px;
    }
  }

  @include media-breakpoint-down(md) {
    .navbar-toggler {
      order: 2;
    }

    .navbar-right {
      order: 1;
      flex-direction: row;
      margin-left: auto;
      margin-right: 5px;
    }

    .navbar-collapse {
      flex-basis: auto;
    }
  }

  #navbarResponsive .navbar-nav {
    @include media-breakpoint-down(md) {
      position: absolute;
      top: 100%;
      right: 0;
      left: 0;
      padding: 15px 20px;
      background: $gray-700;

      .nav-item {
        display: block;

        > a {
          display: block;
        }

        & + .nav-item {
          margin-top: 10px;
        }
      }
    }

    > li.nav-item {
      > a.nav-link,
      > a.nav-link:focus {
        font-size: .9rem;
        font-weight: 700;
        color: $nav-link-color;
        text-transform: uppercase;
        transition: all 0.5s;
        text-decoration: none;

        &:hover {
          animation: neon 1.5s ease-in-out infinite alternate;
        }

        &.active {
          color: $primary !important;
          background-color: transparent;

          &:hover {
            background-color: transparent;
          }
        }
      }
    }
  }

  @media (min-width: 992px) {
    #navbarResponsive .navbar-nav > li.nav-item > a.nav-link {
      padding: 0.5rem 1rem;
    }
  }
}
